/* 全局样式表 */
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

/* 面包屑的全局样式 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

/* 卡片视图的全局样式 */
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important; 
  /* 由于element-ui 组件样式权重比较高 要覆盖样式 需要 !important */
}

/* 表格的全局样式 */
.el-table {
  margin-top: 15px;
}

/* 分页的全局样式 */
.el-pagination {
  margin-top: 15px;
}

/* 级联选择器设置选项的高度 否之会铺满全屏 */
.el-cascader-menu {
  height: 400px;
}

/* 去除级联选择器 选项底部左右 点击按钮 */
/* .el-scrollbar__wrap{
  overflow: auto;
  } */


/* 去除 级联选择器的父级选项中的按钮 点击文本可以选中 */
.el-cascader-panel .el-radio{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 10px;
	right: 10px;
}
.el-cascader-panel .el-radio__input{
	visibility: hidden;
}
.el-cascader-panel .el-cascader-node__postfix {
	top: 10px;
}